/* html, body, .app, .app>div {
  height: 100 vh;
} */



.App {
  margin:0;
  padding:5em;
  box-sizing: border-box;
  background: -webkit-linear-gradient(bottom right, #F7F9B2, #E69D1A);
  background: -moz-linear-gradient(bottom right, #F7F9B2, #E69D1A);
  background: linear-gradient(to top left, #F7F9B2, #E69D1A);
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  border:1px solid hotpink;
}

.AppLoggedIn {
  margin:0;
  padding:5em;
  box-sizing: border-box;
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  /* border:1px solid hotpink; */
  background: #0E0913;
  background: -webkit-linear-gradient(bottom left, #0E0913, #260752);
  background: -moz-linear-gradient(bottom left, #0E0913, #260752);
  background: linear-gradient(to top right, #0E0913, #260752);}


.container{
  height:100%;
  /* border:1px solid black; */
}

.title{
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size:3.5vh;
  font-weight:900;
  color:rgba(0, 0, 0, 0.747);
  text-shadow: 0 0 10px #f2fedc;
}

.titleClassLoggedIn{
  display:none;
}

.appDescription{
  font-family: 'Montserrat', sans-serif;  font-weight: 500;
  font-size:2.5rem;
  color:#5f5f4f;
}

.appDescriptionClassLoggedIn{
  display:none;
}

.span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.r{
  color: red;
}
.a{
  color: #6eebec;
}
.n1{
  color: #ba5c3c;
}
.d{
  color: #8c981f;
}
.o{
  color: #ffa8e5;
}
.m{
  color: #005b4b;
}
.n{
  color: #00c9b0;
}
.e{
  color: #007663;
}
.s1{
  color: #9ed77c;
}
.s{
  color: #1b3d2f;
}

.separator {
  width: 100vw;
  border:2px solid #2f4858;
}

.separatorLoggedIn{
  width: 100vw;
  border:2px solid white;
}

.button{
  background-color:#e69f1a00;
  padding: 1em 2em;
  font-size: .75em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-style: none;
  border-radius: 1em;
  border: 2px solid rgb(83, 82, 82);
  color:rgb(83, 82, 82);
}

.button:hover,
.button:focus{
transform: scale(1.05);
cursor:pointer;
box-shadow: 2px 2px 10px white;
}

#helpButton button{
  font-size: 3em;
  font-family: 'Teko', sans-serif;
  padding:.2em;
  border-radius: 1em;
  border:none;
  margin-left:.5em;

}

.header{
  display:flex;
  justify-content: right;
  align-items: center;
}

/* .loginButton{
  margin-right:0;
  margin-left:auto;
  display:block;
  margin-bottom: 1em;
  margin-right: 1em;
  color:black;
} */

.loggedInFooter{
  display:flex;
  justify-content: space-between;
  margin:1.5em;
}

.loggedInFooter .button{
  color:white;
  border:solid 2px white;
}

.notLoggedInFooter{
  display:none;
}

.disabledBtn{
  background-color:#e69f1a00;
  padding: 1em 2em;
  font-size: .75em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-style: none;
  border-radius: 1em;
  color:rgba(255, 255, 255, 0.452);
  border:none;
}

.disabledBtn:hover
.disabledBtn:focus{
  cursor:none;
}

#passwordContainer{
  display:flex;
  position:absolute;
  width:90vw;
  top:30%;
  left:2vw;
  /* border:1px solid red; */
  padding:1em;
  justify-content: space-between;
}

.passwordChar{
  /* border:1px solid green; */
  font-size:12vw;
  font-weight: 200;
  font-family: 'Teko', sans-serif;
  color:#ff764b;
  min-width:1vw;
  text-align:center;
}

.passwordCharBlur{
  /* border:1px solid green; */
  font-size:8em;
  font-family: 'Montserrat', sans-serif;
  color:#ff764b;
  width:8%;
  text-align:center;
  background-color: rgba(255, 255, 255, 0.411);
  filter: blur(1.3rem);
}

.disableBubble{
  display:none;
}

.bubble{
  display:block;
}

#bubble2{
  z-index: 0;
  position:absolute;
  right:50px;
  bottom:20px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: move2 25s ease-in-out 1s infinite alternate;
  box-shadow:
    inset 0 0 50px rgba(255, 255, 255, 0.486),      /* inner white */
    inset 20px 0 80px rgba(255, 0, 255, 0.459),   /* inner left magenta short */
    inset -20px 0 80px rgba(0, 255, 255, 0.514),  /* inner right cyan short */
    inset 20px 0 300px rgba(255, 0, 255, 0.473),  /* inner left magenta broad */
    inset -20px 0 300px rgba(0, 255, 255, 0.521), /* inner right cyan broad */
    0 0 50px rgba(255, 255, 255, 0.507),            /* outer white */
    -10px 0 80px rgba(255, 0, 255, 0.527),        /* outer left magenta */
    10px 0 80px rgba(0, 255, 255, 0.521);         /* outer right cyan */
}

@keyframes move2 {
  0% { transform: translate(0px, 0px)}
  100% { transform: translate(-30%, -50%)}
}

#bubble1{
  z-index: 0;
  position:absolute;
  left:10;
  top:100px;
  overflow: hidden;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  animation: move1 45s ease-in-out 1s infinite alternate;
  box-shadow:
    inset 0 0 50px rgba(255, 255, 255, 0.486),     
    inset 20px 0 80px rgba(255, 0, 255, 0.459),   
    inset -20px 0 80px rgba(0, 255, 255, 0.514),  
    inset 20px 0 300px rgba(255, 0, 255, 0.473),  
    inset -20px 0 300px rgba(0, 255, 255, 0.521), 
    0 0 50px rgba(255, 255, 255, 0.507),          
    -10px 0 80px rgba(255, 0, 255, 0.527),        
    10px 0 80px rgba(0, 255, 255, 0.521);         
}

@keyframes move1 {
  0% { transform: translate(0px, 0px)}
  100% { transform: translate(90%, 75%)}
}

#bubble3{
  z-index: 0;
  position:absolute;
  left:50%;
  top:540px;
  overflow: hidden;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  animation: move3 60s ease-in-out 1s infinite alternate;
  box-shadow:
    inset 0 0 50px rgba(255, 255, 255, 0.486),     
    inset 20px 0 80px rgba(255, 0, 255, 0.459),   
    inset -20px 0 80px rgba(0, 255, 255, 0.514),  
    inset 20px 0 300px rgba(255, 0, 255, 0.473),  
    inset -20px 0 300px rgba(0, 255, 255, 0.521), 
    0 0 50px rgba(255, 255, 255, 0.507),          
    -10px 0 80px rgba(255, 0, 255, 0.527),        
    10px 0 80px rgba(0, 255, 255, 0.521);         
}

@keyframes move3 {
  0% { transform: translate(0px, 0px)}
  100% { transform: translate(70%, -75%)}
}